.topProfileSection {
    height: calc(20vw + 30px);
    width: 100%;
    padding-top: 30px;
}

.half-circle {
    position: relative;
    left: 15vw;
    width: calc(20vw + 20px);
    height: calc(10vw + 10px);
    border-top-left-radius: 100vw;
    border-top-right-radius: 100vw;
    border: 10px solid var(--accent-color);
    border-bottom: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--bg-color);
}

.pfpline {
    width: 100%;
    height: 10px;
    position: relative;
    top: calc(15vw + 15px);
    left: 0;
    background-color: var(--accent-color);
}

.pfp {
    width: 20vw;
    height: 20vw;
    /*border: 2px solid var(--accent-color);*/
    border-radius: 50%;
    object-fit: fill;
    background-color: var(--bg-color);
    /*object-position: center center;*/
}

.top-background {
    background-color: var(--table-background);
    width: 100%;
    height: calc(15vw + 10px);
    position: relative;
    left: 0;
    top: 5;
    z-index: -1;
}

.profileTopContent {
    position: relative;
    top: calc(calc(calc(15vw + 30px) / 2) - 0.75em);
    left: calc(35vw + 20px);
    text-align: center;
    width: calc(100vw - calc(35vw + 40px));
}