.pfp {
    width: 20vw;
    height: 20vw;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    object-fit: fill;
    object-position: center center;
}

.ausername {
    /*position: relative;
    top: -100px;*/
}