:root {
    --dropdown-border-radius: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding-bottom: 10px;
    z-index: 1000;
    display: none;
    position: absolute;
    right: 20px;
    background-color: var(--topbar-background);
    min-width: 200px;
    z-index: 1;
}

.separator {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    width: calc(100% - 35px);
}

.separator span:first-child {
    font-size: 15px;
    flex-grow: 0;
}

.separator span:last-child {
    /*width: 100%;*/
    flex-grow: 100;
    min-width: 5px;
    height: 5px;
    margin-left: 10px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.dropdown-content * {
    color: black;
    text-decoration: none;
}

.dropdown-content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-content div:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-content div:first-child,
.dropdown-content div:nth-child(2) {
    margin: 0px 15px;
}

.dropdown-content div {
    font-size: 18px;
    text-align: right;
}

.dropdown-content div a {
    color: rgb(44, 44, 44);
    cursor: pointer;
    padding-left: 10px;
    padding-right: 15px;
}

.dropdown-content div a:hover {
    /*background-color: #bebebe;*/
    text-decoration: underline;
}

.show {
    display: block;
}

button.dropbtn {
    all: unset;
}

.dropdown-content hr {
    margin: 0px;
}

.checkmbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-right: 5px;
    padding-left: 5px;
}