<html color-mode="light" font-mode="">

<head>
    <script src="/source/cookie.js"></script>
    <link href="/source/dropdown/dropdown.css" rel="stylesheet" media="screen">
    <script src="/source/dropdown/dropdown.js"></script>
    <link href="/source/main.css" rel="stylesheet" media="screen">
    <link href="/source/slider.css" rel="stylesheet" media="screen">
    <link href="/source/table.css" rel="stylesheet" media="screen">
    <link href="/source/body-layout.css" rel="stylesheet" media="screen">
    {% block head %}
    <title>Avali.Best</title>
    {% endblock %}
</head>

<body>
    <div class=topbar>
        <a href="/">Home</a>
        <span class="verticalLine"></span>
        <a href="/sub/art">Art</a>
        <span class="verticalLine"></span>
        <a href="/sub/chat">Chat</a>
        <span class="verticalLine"></span>
        <a href="/sub/wiki">Wiki</a>
        <span class="verticalLine"></span>
        <a href="/sub/chars">Characters</a>

        <span class="topbar-right">
            <div class="dropdown">
                <button onmousedown="toggleDropdown(this)" class="dropbtn" hidden><img src="/source/KazaniPFP.png" class="topbar-pfp" /></button>
                <div class="dropdown-content">
                    <div class="checkmbox">
                        <input type="checkbox" id="themeswitch" tabindex="0" onclick="changeTheme();">
                        <label style="font-size: 18px; color: rgb(44, 44, 44);" for="themeswitch">Dark</label>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center; text-align: center; display: none;">
                        <label style="font-size: 18px; color: rgb(44, 44, 44);" for="fontswitch">Avali Scratch</label>
                        <input type="checkbox" id="fontswitch" tabindex="0" onclick="changeFont();">
                    </div>
                    <div class="separator"><span>Account</span><span class="line"></span></div>
                    <div style="text-align: right;">
                        <a href="/profile">Profile</a>
                    </div>
                    <div class="separator"><span>Login</span><span class="line"></span></div>
                    <div id="loginlogout">
                    </div>
                </div>
            </div>
        </span>
    </div>
    <script>
        function changeTheme() {
            let h = document.documentElement;
            if (h.getAttribute("color-mode") == "light") {
                h.setAttribute("color-mode", "dark");
            } else {
                h.setAttribute("color-mode", "light");
            }
            setCookie("theme", h.getAttribute("color-mode"));
        }

        function changeFont() {
            let h = document.documentElement;
            if (h.getAttribute("font-mode") == "default") {
                h.setAttribute("font-mode", "avali");
            } else {
                h.setAttribute("font-mode", "default");
            }
            setCookie("font-mode", h.getAttribute("font-mode"));
        }
    </script>
    <script>
        if (getCookie("theme") != "") {
            let a = document.getElementById("themeswitch");
            if (getCookie("theme") == "light") {
                a.checked = false;
            } else {
                a.checked = true;
            }
            document.documentElement.setAttribute("color-mode", getCookie("theme"));
        } else {
            setCookie("theme", "light");
        }
        if (getCookie("font-mode") != "") {
            let a = document.getElementById("fontswitch");
            if (getCookie("font-mode") == "default") {
                a.checked = false;
            } else {
                a.checked = true;
            }
            document.documentElement.setAttribute("font-mode", getCookie("font-mode"));
        } else {
            setCookie("font-mode", "avali");
        }
    </script>
    <script>
        if (getCookie("userid") != "") {
            document.getElementById("loginlogout").innerHTML = "<a href=\"/logout\">Logout</a>";
        } else {
            document.getElementById("loginlogout").innerHTML = "<a href=\"/login\">Login</a>\n<br><a href=\"/register\">Register</a>";
        }
    </script>

    <div align="center">
        <main>
            {% block body %}
            <div class="body-layout-container">
                <div class="body-layout">
                    <div class="side2 center">
                        <h1>AVALI</h1>
                    </div>
                    <div class="side1 center">
                        OR
                    </div>
                </div>
                <div class="body-layout">
                    <div class="side1 center">
                        <h1>AVOLI:</h1>
                    </div>
                    <div class="side2 center">THEY'RE</div>
                </div>

                <div class="body-layout">
                    <div class="side2 center">
                        STILL
                    </div>
                    <div class="side1 center">
                        <h1>RAVIOLI.</h1>
                    </div>
                </div>
            </div>
            <!--<table>
                <caption>TABLE</caption>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                </tr>
                <tr>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                </tr>
            </table>-->
            {% endblock %}
        </main>
    </div>
</body>

</html>