<html color-mode="light">
    <head>
        <link href="/source/main.css" rel="stylesheet" media="screen">
        <link href="/source/slider.css" rel="stylesheet" media="screen">
        <link href="/source/table.css" rel="stylesheet" media="screen">
        <script src="/source/cookie.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class=topbar>
            <div class="vertical-center">
                <a href="/">Home</a>
                <span class="verticalLine"></span>
                <a href="/sub/art">Art</a>
                <span class="verticalLine"></span>
                <a href="/sub/chat">Chat</a>
                <span class="verticalLine"></span>
                <a href="/sub/wiki">Wiki</a>
                <span class="verticalLine"></span>
                <a href="/sub/chars">Characters</a>
                
                <span class="right">
                    
                    <!--<span class="toggleBody"></span>-->
                    <img src="/source/KazaniPFP.png" class="pfp"/>
                    
                </span>
                
            </div>
        </div>
        <script>
            function changeTheme() {
                let h = document.documentElement;
                if (h.getAttribute("color-mode") == "light") {
                    h.setAttribute("color-mode", "dark");
                } else {
                    h.setAttribute("color-mode", "light");
                }
                    setCookie("theme", h.getAttribute("color-mode"));
            }
        </script>
        <img src="/source/sun.svg" height="20" width="auto" class="sicon left" style="margin-right: 5px;">
        <div class=theme-toggle>
        <label class="switch">
            <input type="checkbox" id="themeswitch" tabindex="0" onclick="changeTheme();"><span class="slider round"></span>
        </label>
        </div>
        <script>
        if (getCookie("theme") != "") {
                let a = document.getElementById("themeswitch");
                if (getCookie("theme") == "light") {
                    a.checked = false;
                } else {
                    a.checked = true;
                }
                document.documentElement.setAttribute("color-mode", getCookie("theme"));
            } else {
                setCookie("theme", "light");
            }
        </script>
        <img src="/source/moon.svg" height="20" width="auto" class="sicon right" style="margin-left: 5px;">
        <div align="center">
            <main>
                {% block body %}
                <table>
                    <caption>AAAAA</caption>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>b</td>
                        <td>c</td>
                    </tr>
                </table>
                {% endblock %}
            </main>
        </div>
    </body>
</html>