@font-face {
    font-family: Akshar;
    src: url("/source/fonts/Akshar.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("/source/fonts/RobotoMono.ttf");
}

@font-face {
    font-family: STMono;
    src: url("/source/fonts/ShareTechMono.ttf");
}

@font-face {
    font-family: AvaliScratch;
    src: url("/source/fonts/avali-scratch-lowercase.ttf");
}