:root[color-mode="dark"] {
    --alt-bg: rgba(48, 48, 48, 0.5);
    --alt-alt-bg: rgba(48, 48, 48, 0.5);
    --container-bg-color: rgba(0, 0, 0, 0.200);
    /*--alt-alt-bg: rgba(58, 58, 58, 0.75);*/
}

:root[color-mode="light"] {
    --alt-bg: rgba(192, 192, 192, 0.5);
    --alt-alt-bg: rgba(192, 192, 192, 0.5);
    --container-bg-color: rgba(0, 0, 0, 0.100);
    /*--alt-alt-bg: rgba(173, 173, 173, 0.75);*/
}

.body-layout {
    height: fit-content;
    min-height: min-content;
}

.body-layout-container {
    min-height: calc(100% - 55px);
    background-color: var(--container-bg-color);
    margin-right: 10vw;
    margin-left: 10vw;
}

.body-layout {
    display: inline-flex;
    text-align: center;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 25px;
}

.body-layout-container .body-layout:nth-child(even) {
    background-color: var(--alt-bg);
}

.body-layout-container .body-layout:nth-child(odd) {
    background-color: var(--alt-alt-bg);
}

.body-layout-container .body-layout div {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 50px 0px 50px 0px;
}

.body-layout-container .body-layout .side1 {
    width: 45%;
    background-color: rgba(70, 70, 70, 0.25);
}

.body-layout-container .body-layout .side2 {
    width: 65%;
}

.side1 h1,
.side2 h1 {
    font-weight: bold;
}